.a01001
,.a01001 .top-search-nav
,.a01001 .top-search-nav .total-search-bar{
	position: relative;
	overflow: auto;
}
.a01001 .top-search-nav
,.a01001 .top-search-nav .total-search-bar{
	display: block;
}

.a01001 .top-search-nav{
	margin-bottom: 30px;
}
.a01001 .top-search-nav .total-search-bar{}

.a01001 .top-search-nav .total-search-bar.ui-grid-a{}
.a01001 .top-search-nav .total-search-bar.ui-grid-a .ui-block-a{
	width: calc(100% - 100px);
	width: -webkit-calc(100% - 100px);
	width: -moz-calc(100% - 100px);
	width: -ms-calc(100% - 100px);
	width: -o-calc(100% - 100px);
}
.a01001 .top-search-nav .total-search-bar.ui-grid-a .ui-block-a .search-bar{
	padding: 3px 0;
}
.a01001 .top-search-nav .total-search-bar.ui-grid-a .ui-block-b{
	width: 100px;
}


.a01001 .ministry-list .ministry-list-row{
	overflow: auto;
	padding: 0 10px;
}
.a01001 .no-row{
	position: relative;
	text-align: center;
}
.a01001:not([rk-content-list-count='0']) .ministry-list{
	display: block;
}
.a01001:not([rk-content-list-count='0']) .no-row{
	display: none;
}
.a01001[rk-content-list-count='0'] .ministry-list{
	display: none;
}
.a01001[rk-content-list-count='0'] .no-row{
	display: block;
}

.a01001 .ui-grid-a.ministry-grid .ui-block-a{
	width: calc(100% - 100px);
	width: -webkit-calc(100% - 100px);
	width: -moz-calc(100% - 100px);
	width: -ms-calc(100% - 100px);
	width: -o-calc(100% - 100px);
}
.a01001 .ui-grid-a.ministry-grid .ui-block-b{
	width: 100px;
}