.a03005
,.a03005 .top-search-nav
,.a03005 .top-search-nav .total-search-bar{
	position: relative;
	overflow: auto;
}
.a03005 .top-search-nav
,.a03005 .top-search-nav .total-search-bar{
	display: block;
}

.a03005 .top-search-nav{
	margin-bottom: 30px;
}
.a03005 .top-search-nav .ministry-select-grid.ui-grid-a .ui-block-a{
	width: calc(100% - 100px);
	width: -webkit-calc(100% - 100px);
	width: -moz-calc(100% - 100px);
	width: -ms-calc(100% - 100px);
	width: -o-calc(100% - 100px);
}
.a03005 .top-search-nav .ministry-select-grid.ui-grid-a .ui-block-b{
	width: 100px;
}
.a03005 .top-search-nav .total-search-bar.ui-grid-c .ui-block-a
,.a03005 .top-search-nav .total-search-bar.ui-grid-c .ui-block-b{
	width: 25%;
}
.a03005 .top-search-nav .total-search-bar.ui-grid-c .ui-block-c{
	width: calc(50% - 100px);
	width: -webkit-calc(50% - 100px);
	width: -moz-calc(50% - 100px);
	width: -ms-calc(50% - 100px);
	width: -o-calc(50% - 100px);
}
.a03005 .top-search-nav .total-search-bar.ui-grid-c .ui-block-c .search-bar{
	padding: 3px 0;
}
.a03005 .top-search-nav .total-search-bar.ui-grid-c .ui-block-d{
	width: 100px;
}

.a03005 .apply-list.ui-grid-e{
	margin: 0 auto;
	max-width: 700px;
	margin: 0px auto;
	padding: 5px;
}
.a03005 .apply-list.ui-grid-e > .ui-block-a
,.a03005 .apply-list.ui-grid-e > .ui-block-b
,.a03005 .apply-list.ui-grid-e > .ui-block-c
,.a03005 .apply-list.ui-grid-e > .ui-block-d
,.a03005 .apply-list.ui-grid-e > .ui-block-e
,.a03005 .apply-list.ui-grid-e > .ui-block-f{
	padding: 3px;
}
.a03005 .apply-list.ui-grid-e > .ui-block-a{
	width: 60px;
}

.a03005 .apply-list.ui-grid-e > .ui-block-a > .rk-photo{
	width: 100%;
	max-width:60px;
	height: 65px;
}
.a03005 .apply-list.ui-grid-e > .ui-block-b
,.a03005 .apply-list.ui-grid-e > .ui-block-c{
	width: -webkit-calc(49.9% - 150px);
	width: -moz-calc(49.9% - 150px);
	width: -o-calc(49.9% - 150px);
	width: calc(49.9% - 150px);
}
.a03005 .apply-list.ui-grid-e > .ui-block-d{
	width: 80px;
}
.a03005 .apply-list.ui-grid-e > .ui-block-e{
	width: 70px;
}
.a03005 .apply-list.ui-grid-e > .ui-block-f{
	width: 90px;
}
.a03005 .apply-list.ui-grid-e > .ui-block-d > .ui-btn
,.a03005 .apply-list.ui-grid-e > .ui-block-e > .ui-btn
,.a03005 .apply-list.ui-grid-e > .ui-block-f > .ui-btn{
	font-size: 10px;
	line-height: 14px;
	margin: 0;
}

.a03005 .no-row{
	position: relative;
	text-align: center;
}

@media all and (max-width: 600px){
	.a03005 .top-search-nav .total-search-bar.ui-grid-c .ui-block-a
	,.a03005 .top-search-nav .total-search-bar.ui-grid-c .ui-block-b{
		width: 50%;
	}
	
	.a03005 .top-search-nav .total-search-bar.ui-grid-c .ui-block-c{
		width: calc(100% - 100px);
		width: -webkit-calc(100% - 100px);
		width: -moz-calc(100% - 100px);
		width: -ms-calc(100% - 100px);
		width: -o-calc(100% - 100px);
	}
	.a03005 .top-search-nav .total-search-bar.ui-grid-c .ui-block-d{
		width: 100px;
	}
}

@media (max-width: 35em){
	
	.a03005 .apply-list.ui-grid-e > .ui-block-a{
		width: 100%
	}
	.a03005 .apply-list.ui-grid-e > .ui-block-b
	,.a03005 .apply-list.ui-grid-e > .ui-block-c{
		width: 49.9%;
		min-height: 0;
	}
	
	.a03005 .apply-list.ui-grid-e > .ui-block-d
	,.a03005 .apply-list.ui-grid-e > .ui-block-e
	,.a03005 .apply-list.ui-grid-e > .ui-block-f{
		width: 33.3%;
	}
}