
.rk-default-header .rk-default-header-frame
,.rk-default-footer .rk-default-footer-frame{
	position: relative;
	overflow: auto;
}
.rk-default-header .rk-default-header-frame .main-logo{
	float: left;
	margin: 5px 10px;
}

.rk-default-footer .rk-default-footer-frame{
	margin: 5px 20px;
}