@charset "UTF-8";

.ui-btn-icon-left:after
,.ui-btn-icon-right:after
,.ui-btn-icon-top:after
,.ui-btn-icon-bottom:after
,.ui-btn-icon-notext:after{
	background-size: 15px;
}

.rk-icon-main-logo,.rk-icon-main-logo-black,.rk-icon-main-logo-gray{
	display: inline-block;
	overflow: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 26px;
	height: 26px;
}

.rk-icon-main-logo
,.ui-icon-rk-main-logo:AFTER{
	background-image: url(../image/icon/iconMainLogo.png);
}
.rk-icon-main-logo-black
,.ui-icon-rk-main-logo-black:AFTER{
	background-image: url(../image/icon/iconMainLogoB.png);
}
.rk-icon-main-logo-gray
,.ui-icon-rk-main-logo-gray:AFTER{
	background-image: url(../image/icon/iconMainLogoG.png);
}

@media (-webkit-min-device-pixel-ratio:2){
	
	.rk-icon-main-logo
	,.ui-icon-rk-main-logo:AFTER{
		background-image: url(../image/icon/iconMainLogo@2x.png);
	}
	.rk-icon-main-logo-black
	,.ui-icon-rk-main-logo-black:AFTER{
		background-image: url(../image/icon/iconMainLogoB@2x.png);
	}
	.rk-icon-main-logo-gray
	,.ui-icon-rk-main-logo-gray:AFTER{
		background-image: url(../image/icon/iconMainLogoG@2x.png);
	}
}