@charset "UTF-8";

@IMPORT url(./RKCommon-color.css);
@IMPORT url(./RKCommon-HTMLExtension.css);
@IMPORT url(./RKCommon-label.css);
@IMPORT url(./RKCommon-opacity.css);
@IMPORT url(./RKCommon-shadow.css);
@IMPORT url(./RKCommon-shape.css);
@IMPORT url(./RKCommon-transition.css);
@IMPORT url(./RKCommon-image.css);
@IMPORT url(./RKCommon-icon.css);
@IMPORT url(./RKCommon-JQueryExtension.css);

.rk-no-margin{
	margin: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.rk-no-padding{
	padding: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.rk-responsive-size
,.rk-responsive-p{
	min-width: 450px;
	max-width: 550px;
}
.rk-responsive-p{
	margin: 0px auto;
}

.rk-responsive-r,.rk-responsive-r-fixed
,.rk-responsive-l,.rk-responsive-l-fixed
,.rk-responsive{
	display: inline-block;
}
.rk-responsive-r
,.rk-responsive-r-fixed{
	float: right;
}
.rk-responsive-l
,.rk-responsive-l-fixed{
	float: left;
}
.rk-responsive-r.rk-responsive-btn
,.rk-responsive-r-fixed.rk-responsive-btn
,.rk-responsive-l.rk-responsive-btn
,.rk-responsive-l-fixed.rk-responsive-btn
,.rk-responsive.rk-responsive-btn{
	min-width: 220px;
	max-width: 350px;
}

label[jg-error-column]{
	margin: 0px;
	margin-bottom: 15px;
}
.rk-validator-error-label{
	text-align: right;
	color: red;
}

.rk-content-view
,.rk-content-view .rk-content-header
,.rk-content-view .rk-content-data-view
,.rk-section-div-line{
	position: relative;
	overflow: auto;
}

.rk-content-view
,.rk-section-div-line{
	display: block;
}

.rk-content-view
,.rk-content-view .rk-content-data-view
,.rk-section-div-line{
	margin-top : 13px;
}

.rk-content-view .rk-content-data-view .rk-content-header{
	padding-top: 13px;
	padding-bottom: 13px;
}
.rk-content-view .rk-content-data-view .rk-content-header h2{
	margin: 0px;
}
.rk-content-view .rk-content-data-view .rk-content-header .rk-responsive-r-fixed{
	margin-left: 15px;
}
.rk-content-view .rk-content-data-view .rk-content-header .rk-responsive-l-fixed{
	margin-right: 15px;
}

.rk-content-view .rk-content-data-view{
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: auto;
	width: 100%;
}

.rk-content-view .rk-content-data-view tbody{}
.rk-content-view .rk-content-data-view tbody tr{}

.rk-content-view .rk-content-data-view tbody tr th
,.rk-content-view .rk-content-data-view tbody tr td{
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 10px;
	/*padding-right: 15px;*/ 
	vertical-align: top;
	word-wrap: break-word;
	word-break: break-all;
	-webkit-line-break: after-white-space;
}
.rk-content-view .rk-content-data-view tbody tr th{
	min-width: 120px;
	width: 120px;
	max-width: 150px;
	font-weight: inherit;
}

.rk-photo{
	position: relative;
	background-image: url('../image/profile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.rk-disabled{
	cursor: default !important;
	pointer-events: none;
}

@media (max-width:600px){
	.rk-responsive-size
	,.rk-responsive-p{
		min-width: 350px;
		max-width: 380px;
	}
	
	.rk-responsive-r.rk-responsive-btn
	,.rk-responsive-r-fixed.rk-responsive-btn
	,.rk-responsive-l.rk-responsive-btn
	,.rk-responsive-l-fixed.rk-responsive-btn
	,.rk-responsive.rk-responsive-btn{
		min-width: 200px;
		max-width: 300px;
	}
	
	.rk-content-view .rk-content-data-view tbody tr th{
		min-width: 100px;
		width: 100px;
		max-width: 120px;
	}
}

@media (max-width:380px){
	.rk-responsive-size
	,.rk-responsive-p{
		width: calc(100% - 30px);
		width: -webkit-calc(100% - 30px);
		width: -moz-calc(100% - 30px);
		width: -ms-calc(100% - 30px);
		width: -o-calc(100% - 30px);
		min-width: calc(100% - 30px);
		min-width: -webkit-calc(100% - 30px);
		min-width: -moz-calc(100% - 30px);
		min-width: -ms-calc(100% - 30px);
		min-width: -o-calc(100% - 30px);
	}
	.rk-responsive-r,.rk-responsive-l,.rk-responsive
	,.rk-responsive.rk-responsive-btn
	,.rk-responsive-r.rk-responsive-btn
	,.rk-responsive-l.rk-responsive-btn{
		display: block;
		margin: 5px 0px;
		float: none;
		max-width: inherit;
		min-width: inherit;
	}
	
	.rk-content-view .rk-content-data-view tbody tr th{
		min-width: 90px;
		width: 90px;
		max-width: 100px;
	}
}