@charset "UTF-8";

.rk-transition{
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.rk-transition.rk-transition-all-l1,.rk-transition.rk-transition-all-l2
,.rk-transition.rk-transition-all-l3,.rk-transition.rk-transition-all-l4
.rk-transition.rk-transition-all-l5,.rk-transition.rk-transition-all-slow
,.rk-transition.rk-transition-all-normal,.rk-transition.rk-transition-all-fast
.rk-transition.rk-transition-all-vfast{
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-ms-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
}

.rk-transition.rk-transition-size-l1,.rk-transition.rk-transition-size-l2
,.rk-transition.rk-transition-size-l3,.rk-transition.rk-transition-size-l4
,.rk-transition.rk-transition-size-l5,.rk-transition.rk-transition-size-l6
,.rk-transition.rk-transition-size-slow,.rk-transition.rk-transition-size-normal
,.rk-transition.rk-transition-size-fast,.rk-transition.rk-transition-size-vfast{
	-webkit-transition-property: width, height;
	-moz-transition-property: width, height;
	-ms-transition-property: width, height;
	-o-transition-property: width, height;
	transition-property: width, height;
}

.rk-transition.rk-transition-back-l1,.rk-transition.rk-transition-back-l2
,.rk-transition.rk-transition-back-l3,.rk-transition.rk-transition-back-l4
,.rk-transition.rk-transition-back-l5,.rk-transition.rk-transition-back-l6
,.rk-transition.rk-transition-back-slow,.rk-transition.rk-transition-back-normal
,.rk-transition.rk-transition-back-fast,.rk-transition.rk-transition-back-vfast{
	-webkit-transition-property: background, background-size, background-image;
	-moz-transition-property: background, background-size, background;
	-ms-transition-property: background, background-size, background;
	-o-transition-property: background, background-size, background;
	transition-property: background, background-size, background;
}

.rk-transition.rk-transition-position-l1,.rk-transition.rk-transition-position-l2
,.rk-transition.rk-transition-position-l3,.rk-transition.rk-transition-position-l4
,.rk-transition.rk-transition-position-l5,.rk-transition.rk-transition-position-l6
,.rk-transition.rk-transition-position-slow,.rk-transition.rk-transition-position-normal
,.rk-transition.rk-transition-position-fast,.rk-transition.rk-transition-position-vfast{
	-webkit-transition-property: top, bottom, left, right;
	-moz-transition-property: top, bottom, left, right;
	-ms-transition-property: top, bottom, left, right;
	transition-property: top, bottom, left, right;
}

.rk-transition.rk-transition-opacity-l1,.rk-transition.rk-transition-opacity-l2
,.rk-transition.rk-transition-opacity-l3,.rk-transition.rk-transition-opacity-l4
,.rk-transition.rk-transition-opacity-l5,.rk-transition.rk-transition-opacity-l6
,.rk-transition.rk-transition-opacity-slow,.rk-transition.rk-transition-opacity-normal
,.rk-transition.rk-transition-opacity-fast,.rk-transition.rk-transition-opacity-vfast{
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-ms-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

.rk-transition.rk-transition-all-l1,.rk-transition.rk-transition-all-slow
,.rk-transition.rk-transition-size-l1,.rk-transition.rk-transition-size-slow
,.rk-transition.rk-transition-back-l1,.rk-transition.rk-transition-back-slow
,.rk-transition.rk-transition-position-l1,.rk-transition.rk-transition-position-slow
,.rk-transition.rk-transition-opacity-l1,.rk-transition.rk-transition-opacity-slow{
	-webkit-transition-duration: 1.0s;
	-moz-transition-duration: 1.0s;
	-ms-transition-duration: 1.0s;
	-o-transition-duration: 1.0s;
	transition-duration: 1.0s;
}

.rk-transition.rk-transition-all-l2,.rk-transition.rk-transition-size-l2
,.rk-transition.rk-transition-back-l2,.rk-transition.rk-transition-position-l2
,.rk-transition.rk-transition-opacity-l2{
	-webkit-transition-duration: 0.7s;
	-moz-transition-duration: 0.7s;
	-ms-transition-duration: 0.7s;
	-o-transition-duration: 0.7s;
	transition-duration: 0.7s;
}

.rk-transition.rk-transition-all-l3,.rk-transition.rk-transition-all-normal
,.rk-transition.rk-transition-size-l3,.rk-transition.rk-transition-size-normal
,.rk-transition.rk-transition-back-l3,.rk-transition.rk-transition-back-normal
,.rk-transition.rk-transition-position-l3,.rk-transition.rk-transition-position-normal
,.rk-transition.rk-transition-opacity-l3,.rk-transition.rk-transition-opacity-normal{
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-ms-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.rk-transition.rk-transition-all-l4,.rk-transition.rk-transition-size-l4
,.rk-transition.rk-transition-back-l4,.rk-transition.rk-transition-position-l4
,.rk-transition.rk-transition-opacity-l4{
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.rk-transition.rk-transition-all-l5,.rk-transition.rk-transition-all-fast
,.rk-transition.rk-transition-size-l5,.rk-transition.rk-transition-size-fast
,.rk-transition.rk-transition-back-l5,.rk-transition.rk-transition-back-fast
,.rk-transition.rk-transition-position-l5,.rk-transition.rk-transition-position-fast
,.rk-transition.rk-transition-opacity-l5,.rk-transition.rk-transition-opacity-fast{
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	-ms-transition-duration: 0.1s;
	-o-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

.rk-transition.rk-transition-all-l6,.rk-transition.rk-transition-all-vfast
,.rk-transition.rk-transition-size-l6,.rk-transition.rk-transition-size-vfast
,.rk-transition.rk-transition-back-l6,.rk-transition.rk-transition-back-vfast
,.rk-transition.rk-transition-position-l6,.rk-transition.rk-transition-position-vfast
,.rk-transition.rk-transition-opacity-l6,.rk-transition.rk-transition-opacity-vfast{
	-webkit-transition-duration: 0.08s;
	-moz-transition-duration: 0.08s;
	-ms-transition-duration: 0.08s;
	-o-transition-duration: 0.08s;
	transition-duration: 0.08s;
}