@charset "UTF-8";

.rk-label,body,label,span,h1,h2,h3{
	font-family:'lucida grande','tahoma','verdana','arial','sans-serif';
}

.rk-label.rk-label-tiny-l1{
	font-size: 11px;
	line-height: 14px;
}
.rk-label.rk-label-tiny-l2,.rk-label.rk-label-tiny-content{
	font-size: 9px;
	line-height: 11px;
}
.rk-label.rk-label-tiny-l3{
	font-size: 7px;
	line-height: 9px;
}

.rk-label.rk-label-small-l1,body{
	font-size: 16px;
	line-height: 22px;
}

.rk-label.rk-label-small-l2,.rk-label.rk-label-small-content,label{
	font-size: 15px;
	line-height: 22px;
}

.rk-label.rk-label-small-l3 {
	font-size: 13px;
	line-height: 18px;
}

.rk-label.rk-label-small-l4 {
	font-size: 12px;
	line-height: 17px;
}

.rk-label.rk-label-normal-l1,.rk-label.rk-label-content{
	font-size: 21px;
	line-height: 29px;
}

.rk-label.rk-label-normal-l2 {
	font-size: 22px;
	line-height: 30px;
}

.rk-label.rk-label-normal-l3 {
	font-size: 24px;
	line-height: 33px;
}

.rk-label.rk-label-large-l1,h3{
	font-size: 26px;
	line-height: 35px;
}

.rk-label.rk-label-large-l2 {
	font-size: 28px;
	line-height: 38px;
}

.rk-label.rk-label-large-l3,.rk-label.rk-label-title,h2{
	font-size: 30px;
	line-height: 41px;
}

.rk-label.rk-label-large-l4 {
	font-size: 34px;
	line-height: 46px;
}

.rk-label.rk-label-large-l5,.rk-label.rk-label-big-title,h1{
	font-size: 42px;
	line-height: 57px;
}

.rk-label.rk-label-bold,.rk-label.rk-label-big-title,.rk-label.rk-label-title{
	font-weight: bold;
}

@media (max-width:600px){
	.rk-label.rk-label-small-l1,body{
		font-size: 14px;
		line-height: 19px;
	}
	.rk-label.rk-label-small-l2,.rk-label.rk-label-small-content,label{
		font-size: 13px;
		line-height: 17px;
	}
	.rk-label.rk-label-small-l3 {
		font-size: 12px;
		line-height: 16px;
	}
	.rk-label.rk-label-small-l4 {
		font-size: 10px;
		line-height: 13px;
	}
	.rk-label.rk-label-normal-l1,.rk-label.rk-label-content{
		font-size: 19px;
		line-height: 25px;
	}
	.rk-label.rk-label-normal-l2 {
		font-size: 20px;
		line-height: 27px;
	}
	.rk-label.rk-label-normal-l3 {
		font-size: 21px;
		line-height: 28px;
	}
	.rk-label.rk-label-large-l1,h3{
		font-size: 20px;
		line-height: 27px;
	}
	.rk-label.rk-label-large-l2 {
		font-size: 22px;
		line-height: 29px;
	}
	.rk-label.rk-label-large-l3,.rk-label.rk-label-title,h2{
		font-size: 26px;
		line-height: 35px;
	}
	.rk-label.rk-label-large-l4 {
		font-size: 28px;
		line-height: 37px;
	}
	.rk-label.rk-label-large-l5,.rk-label.rk-label-big-title,h1{
		font-size: 30px;
		line-height: 40px;
	}
}

@media (max-width:380px){
	.rk-label.rk-label-normal-l1,.rk-label.rk-label-content{
		font-size: 15px;
		line-height: 20px;
	}
	.rk-label.rk-label-normal-l2 {
		font-size: 16px;
		line-height: 21px;
	}
	.rk-label.rk-label-normal-l3 {
		font-size: 18px;
		line-height: 24px;
	}
	.rk-label.rk-label-large-l1,h3{
		font-size: 17px;
		line-height: 23px;
	}
	.rk-label.rk-label-large-l2 {
		font-size: 19px;
		line-height: 25px;
	}
	.rk-label.rk-label-large-l3,.rk-label.rk-label-title,h2{
		font-size: 21px;
		line-height: 28px;
	}
	.rk-label.rk-label-large-l4 {
		font-size: 23px;
		line-height: 31px;
	}
	.rk-label.rk-label-large-l5,.rk-label.rk-label-big-title,h1{
		font-size: 24px;
		line-height: 31px;
	}
}